[train]
epoch = 1000
batch_size = 128
optimizer = ada-bound
learning_rate = 1e-3
lr_power = 0
reader_num = 16
momentum = 0.99
nesterov = True

[eval]
batch_size = 128
reader_num = 16

[data]
normalization = 1
train_dataset_type = BraTS2020
train_formatter_type = BraTSBase

valid_dataset_type = BraTS2020
valid_formatter_type = BraTSBase

test_dataset_type = BraTS2020
test_formatter_type = BraTSBase

[model]
model_path = model/symbiosis
model_name = symbiosis


[output]
output_time = 1
test_time = 10
num_worker = 32
print_time = 1

accuracy_method = Vision
output_function = Vision
output_value = PSNR,SSIM,DICE,WBCE

