[train]
epoch = 500
batch_size = 20
optimizer = ada-bound
weight_decay = 1e-4
learning_rate = 1e-3
lr_power = 0.9
reader_num = 32
momentum = 0.99
nesterov = True

[eval]
batch_size = 20
reader_num = 32

[data]
normalization = 1
train_dataset_type = NIFTI
train_formatter_type = NIFTI

valid_dataset_type = NIFTI
valid_formatter_type = NIFTI

test_dataset_type = NIFTI
test_formatter_type = NIFTI

[model]
model_path = model/symbiosis-v3
model_name = symbiosis-v3
input_dim = 1
output_dim = 1


[output]
output_time = 1
test_time = 5
num_worker = 32
print_time = 1

accuracy_method = Vision
output_function = Vision
output_value = PSNR,SSIM,DICE,WBCE

[dataset]

training_num = 754
eval_num = 249
test_num = 249
